.task{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.task__add{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed rgba(255, 255, 255, 0.4);
    height: 60px;
    cursor: pointer;
}
.task__add > p{
    padding-left: 10px;
    font-size: larger;
    font-weight: bold;
}